*{
    margin:0;
    padding: 0;;
}
header{
    background-color: orangered;
    text-align: center;
}
body{
    background-color: grey;
}
.nav{
    display: flex;
    justify-content: end;
    background-color: rgb(187, 218, 218);
    padding: 1%;
}
.ul{
    display: flex;
    flex-direction: row;
    gap: 30px;

}
li {
    display: flex;
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
.main{
    display: flex;
    margin: 1%;
}
.section{
    background-color: yellow;
    width: 10%;
    padding: 1%;
}
.aside{
    width: 90%;
    background-color: pink;
    padding: 1%;
}
.column{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1%;
}
.column img{
    padding: 2%;
    width: 100%;
}
.row{
    display: flex;
    flex-direction: row;
}
.footer{
    background-color: greenyellow;
    text-align: center;
    padding: 1%;
}
@media (min-width: 600px) and (max-width: 1000px) {
    body {
      background-color: grey;
    }
    .nav {
      justify-content: end;
    }
    .main {
      flex-direction: row;
    }

    .section {
        background-color: yellow;
        width: 20%;
        padding: 1%;
    }

    .aside {
        width: 80%;
        background-color: pink;
        padding: 1%;
    }

    .column {
      width: 47%;
    }

    .footer {
      padding: 2%;
    }
    .row{
      flex-direction: row;
      flex-wrap: wrap;
    }
    #abajo{
      width: 100%;
      display: flex;
    }
    #abajo > div{
      width: 50%;
      justify-content: center;
      align-items: center;
    }

    
}

@media (max-width: 600px){
    body {
        background-color: grey;
      }
      .nav {
        justify-content: center;
        text-align: center;
      }
      .ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .ul li{
        justify-content: center;
    }
      .main {
        flex-direction: row;
      }
  
      .section {
          background-color: yellow;
          width: 50%;
          padding: 1%;
      }
  
      .aside {
          width: 50%;
          background-color: pink;
          padding: 1%;
      }
      .column{
        width: 90%;
      }
      .row{
        flex-direction: column;
      }
      .footer {
        padding: 2%;
      }
}

